
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>

<!-- Search section based on the Recipe Name  -->
<div class="section_search">
  <%= form_tag("/recipes/search" ,method: "get", class: "form-inline") do %>
    <!-- <%= label_tag(:recipe_name, "Enter the recipe name:") %> -->
    <%= text_field_tag(:recipe_name ,nil , placeholder: "Search for recipe...") %>
    <%= submit_tag("Search Recipe" ,class: "btn btn-primary") %> 
  <% end %>
  
</div>

<!-- Search section based on the Ingredient list  -->
        <div class="input-group input-group-lg">

          <%= form_tag("recipes/search_ingredients", method: "get" ,class: "form-control") do %>
          

            <%= label_tag(:ingredient1, "ingredient1:") %>
            <%= text_field_tag(:ingredient1) %>


            <%= label_tag(:ingredient2, "ingredient2:") %>
            <%= text_field_tag(:ingredient2) %>


            <%= label_tag(:ingredient3, "ingredient3:") %>
            <%= text_field_tag(:ingredient3) %>


          <%= select_tag(:diet, options_for_select([
            ['No-sugar'], 
            ['Vegetarian'],
            ['Vegan'],
            ['Paleo'],
            ['Gluten-free'],
            ['Wheat-free'],
            ['Paleo'],
            ['Egg-Free'],
            ['Tree-Nut-Free'],
            ['Alcohol-free'],
            ['No oil added'],
            ['Peanut-Free'],
            ['Shellfish-Free'],
            ['Fish-Free'],
            ['Soy-Free'],
            ['Dairy-Free'],
            ]), :include_blank => true
        )%>
           
          <%= submit_tag("Search" ,class: "btn btn-primary") %>
        <% end %>
          
        </div>
        
<!--       </div> -->