
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>

<!-- Search section based on the Recipe Name  -->
<div class="section_search">
  <%= form_tag("/recipes/search" ,method: "get", class: "form-inline") do %>
    <!-- <%= label_tag(:recipe_name, "Enter the recipe name:") %> -->
    <%= text_field_tag(:recipe_name ,nil , placeholder: "Search for recipe...") %>
    <%= submit_tag("Search Recipe" ,class: "btn btn-primary") %> 
  <% end %>
  
</div>

















