
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>

<!-- Search section based on the Recipe Name  -->
<div class = "section_search">
  <%= form_tag("/recipes/search" ,method: "get", class: "form-inline") do %>
    <!-- <%= label_tag(:recipe_name, "Enter the recipe name:") %> -->
    <%= text_field_tag(:recipe_name ,nil , placeholder: "Search for recipe...") %>
    <%= submit_tag("Search Recipe" ,class: "btn btn-primary") %> 
  <% end %>
  
</div>



<!-- Search section based on the Ingredient list  -->
<div class="input-group input-group-lg">

  <%= form_tag("recipes/search_ingredients", method: "get" ,class: "form-control") do %>

    <%= label_tag(:ingredient1, "ingredient1:") %>
    <%= text_field_tag(:ingredient1) %>


    <%= label_tag(:ingredient2, "ingredient2:") %>
    <%= text_field_tag(:ingredient2) %>


    <%= label_tag(:ingredient3, "ingredient3:") %>
    <%= text_field_tag(:ingredient3) %>

   
  <%= submit_tag("Search" ,class: "btn btn-primary") %>
<% end %>
  
</div>

<div class="search_by_category">

  <%= select_tag(:diet_id, options_for_select([
    ['No-sugar', 1], 
    ['Vegetarian', 2],
    ['Vegan', 3] ,
    ['Paleo', 4] ,
    ['Gluten-free', 5] ,
    ['Wheat-free', 6] ,
    ['Paleo', 7] ,
    ['Egg-Free', 8], 
    ['Tree-Nut-Free', 9],
    ['Alcohol-free', 10],
    ['No oil added', 11], 
    ['Peanut-Free', 12],
    ['Shellfish-Free', 13] ,
    ['Fish-Free', 14] ,
    ['Soy-Free', 15] ,
    ['Dairy-Free', 16]
    ])
)%>



</div>












