<!-- Display Page for the recipes found based on the results -->
<p>List of Recipes Found </p>

  <div class ="section_list">

    <h4> Search Resultsfor keyword <%= @title %> </h4>
    
    <% @recipes.each do |recipe| %>
      <div><img src="<%= recipe.image_url %>"></div>
    <% end %>
    <%# will_paginate @recipes %>







    <ul>
      <% @recipes.each do |recipe| %>
       <a href="<%= recipe.source_url %>"> 
       <li> <%= recipe.title %> </li>
       <img src="<%= recipe.image_url %>">
       </a>
      <% end %>
    </ul>
    
  
  </div>

