<!DOCTYPE html>
<html>
<head>
  <title>Whatscooking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="section_header">
      <img src="http://cdn.marketplaceimages.windowsphone.com/v8/images/c51f2b5a-7e66-4563-986d-20ac630ac7ee?imageType=ws_icon_large" alt="whats cooking">
      <h1> What's Cooking </h1>
    </div>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <ul>
        <li><%= link_to "Home", root_path %></li>
      </ul>

      <% if @current_user.present? && @current_user.admin? %>
          <li> <%=link_to('Show Users' ,users_path) %> </li>
        <% end %>
      <% if  @current_user.present? %>
        <li> <%= link_to('Edit Profile' ,edit_users_path) %></li>
        <li> <%= link_to("log out #{@current_user.full_name}",login_path, :method => :delete, :confirm => 'Are you sure?') %></li>
        <% else  %>
      <li> <%= link_to('Sign Up' ,new_user_path) %></li>
      <li> <%= link_to('Log in', login_path) %></li>
      <% end %>
      
    </div>
    <div class="section_content">
        <p> Your food forage ends here </p>
        
         <%= yield %>
         
    </div>

  </div>
  

</body>
</html>
